/*
xxl
@media (min-width: 1400px) and (max-width: 1920px) {
}

xl
@media (min-width: 1200px) and (max-width: 1399px) {
}

lg
@media (min-width: 992px) and (max-width: 1199px) {
}

md
@media (min-width: 768px) and (max-width: 991px) {
}

sm
@media (min-width: 576px) and (max-width: 767px) {
}

chikinino
@media (min-width: 1px) and (max-width: 575px) {
}
*/

#cabecera {
    height: 40px;
    background-color: #FF0000;
}

#logo {
    height: 40px;
    background-color: #FF6600;
}

#menupie {
    height: 40px;
    background-color: #00CCFF;
}

#lateral1 {
    height: 100px;
    background-color: #FFFF00;
}

#seccion1 {
    height: 40px;
    background-color: #99FF66;
}

#lateral3 {
    height: 40px;
    background-color: #FFFF00;
}

#seccion3 {
    height: 60px;
    background-color: #CC66FF;
}

#seccion4 {
    height: 60px;
    background-color: #CCCCCC;
}

#lateral2 {
    height: 60px;
    background-color: #FFFF00;
}

#seccion6 {
    height: 60px;
    background-color: #99FF66;
}

#seccion7 {
    height: 60px;
    background-color: #FF6600;
}

#seccion8 {
    height: 40px;
    background-color: #00A933;
}